.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-gap: 32px;
}

.board {
  margin: auto;
  display: grid;
  grid-gap: 4px;
  height: fit-content;
  position: relative;
  justify-self: center;
  border-radius: 12px;
  background-color: #411c5280;
  grid-template-columns: repeat(3, auto);
}


aside {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 700;
  background-color: #411c5250;
  justify-content: space-between;
}

aside .header {
  padding: 8px 0;
  color: white;
  font-size: 32px;
  height: fit-content;
  text-align: center;
  background-color: #411c52;
  font-family: 'Courier New', Courier, monospace;
   
}

aside .top .item {
  padding: 12px;
  font-size: 18px;
  color: white;
}

aside .top .item p {
  margin: 0;
  padding-bottom: 8px;
  font-size: 18px;
  color: white;
}

aside .top select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
}

aside .top select option {
  width: 100%;
  height: 30px;
  padding: 30px;
  border-radius: 8px;
}

aside .bottom {
  text-align: center;
}

aside .bottom button {
  margin: 10px;
  width: 232px;
  height: 42px;
  background-color: #411c52;
  color: white;
  border: none;
  border-radius: 12px;
}

aside .bottom button:hover {
  cursor: pointer;
  background-color: #411c5280;
}

.modal {
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 460px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 12px;
  padding: 12px 24px;
  flex-direction: column;
  background-color: white;
  justify-content: space-around;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.modal p {
  margin: 0;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  padding: 16px 0 0 0;
  text-transform: uppercase;
}

.modal .close-modal {
  font-size: 32px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  text-transform: lowercase;
}